.container {
    margin: 20px;
    display: flex;
}
.info{
    flex: 1;
}
.demo-chart {
    height: 400px;
    width: 400px;
    flex: 2;
  }
  td {
    padding-right: 3px;
  }
  .input-container{
    margin: 20px;
    display: flex;
  }

  .info-card {
    max-width: 300px;
  }
  .example-header-image {
    background-image: url('/assets/images/girlHead.PNG');
    background-size: cover;
  }
